.footer {
    background-color: #77d3eb;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .footerContentNombres {
    margin: 0 auto;
    font-size: 20px;
  }

  .footerContentImagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .footerContentImagenes .logoDigital {
    width: 200px;
    margin-bottom: 10px;
  }

  .footerContentImagenes .iconoSocial {
    margin: 5px;
    width: 30px;
  }
  
  @media screen and (max-width: 768px) {
    .footerContentImagenes .logoDigital {
        width: 150px; 
    }

    .footerContentImagenes .iconoSocial {
        width: 25px; 
    }
}